# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE/OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# Secrets
api/.env
.env

